*{margin:0px; padding:0px;}
ul{list-style-type:none;}
a{text-decoration:none;}

@font-face {
    font-family: 'TTWanjudaedunsancheB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'MICEGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

header{display:flex;justify-content:space-between;}
header h1{width:100px;}
header img{width:50%;margin-top:15px;margin-left:50px;}
header ul{display:flex;}
header li{padding:10px;box-sizing:border-box;line-height:53.1px;margin-right:50px;}
header a{ font-family: 'TTWanjudaedunsancheB';font-size: 20px;}
header li:hover a{color:white;}


.con8{width:100%;height:150px;background:url(../img/more_tips.jfif)no-repeat 100% 90% / cover;position:relative;}
.con8 h2{position:absolute;left:40%;top:50%;color:black;transform:translateY(-50%);font-family: 'TTWanjudaedunsancheB';
line-height: 30px;}
.con8 a{background:#333;color:white;border-radius:10px;padding:5px 20px;box-sizing:border-box;display:inline-block;position:absolute;left:55%;bottom:28%;font-weight:bold;text-align:center;}

.con8 a:hover{background:#ccc;color:black;}




footer{width:100%;height:200px;display:flex;justify-content:space-around;margin:0px auto; font-family: 'MICEGothic';}
footer h4{width:calc(100% /3);margin-top:80px; font-size:18px; font-family: 'MICEGothic';}
.sns{width:calc(100% / 4 );margin-top:70px;}
.img{width:100%; display:flex; justify-content:center;}
.img a{width:7.5%; padding:10px; display:block;}
.img img{width:100%;}
.sns p{text-align:center; font-family: 'MICEGothic';}
