header{background:#f6a3a5;}
body {
    cursor: url('../img/cursor_spring.png'),auto;
  }
a:hover {
    cursor: url('../img/cursor_spring.png'),auto;
  }
#container .con1{background:#fce1e2;}
#container .con1_L{ color:#f389b8;}
.con1_L h3{background:#f389b8;}
.con1_L h4{color:#b14475;} 




.con2_1 h2{color: #f6a3a5;}
.con2_1 p{color: #f6a3a5;}
.con2_2 .box{background:#f6a3a5;}

.con3 h2{color:#f6a3a5;}
.con3 a p:nth-of-type(3) span{color:lightblue;}


.con4 h2{color:#f6a3a5;}
.weather .left{background:#f6a3a5;}
.right .mascot{color:#f6a3a5;}



.con5 h3{color:#f6a3a5;}
.con5 .ul1_1{color:#f6a3a5;}
.ul1 .ul1_2{color:#f6a3a5;}
.fo1text h4{color: gray;}



 /*con6*/

 .con6 h2{color:#f6a3a5;}
 .con6 span{color:#f6a3a5;}

 

/*con7*/
.con7 h2{color: #f6a3a5;}
.con7 .ticket_wrap h2{color:#f6a3a5;}
.con7_left_text{color:#f6a3a5;}







.con2_2 .box2{width:100%;height:350px;background: url(../img/place_osaka1.jpg)no-repeat center/cover;}
.con2_2 .box2_1{width:100%;height:350px;background: url(../img/place_osaka2.jpg)no-repeat center/cover;}
.con2_2 .box2_2{width:100%;height:350px;background: url(../img/place_osaka3.jpg)no-repeat center/cover;}
.con2_2 .box2_3{width:100%;height:350px;background: url(../img/place_osaka4.jpg)no-repeat center/cover;} 