*{margin:0px; padding:0px;}
ul{list-style:none;}
a{color:black;text-decoration:none;}

@font-face {
    font-family: 'TTWanjudaedunsancheB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

header{background:#afafaf;}

#container{width:100%;margin:0px auto;}
#container .con1{width:100%;background:#f2f1f0;display:flex;justify-content:center;margin:0px auto;padding:100px;box-sizing:border-box;}
#container .con1_L{color:#afafaf;font-family:TTWanjudaedunsancheB;}
.con1_L h2:first-child{font-size:90px;}
.con1_L h2:nth-of-type(2){font-size:60px;margin:20px 0px;}
.con1_L h3{width:150px;padding:10px 12px;background:#afafaf;color:white;font-size:50px;text-align:center;}
.con1_L h4{width:650px;color:black;margin-top:30px;font-size:20px;line-height:30px;}
#container .con1_R{width:50%;}
.con1_R img{width:100%;}

.con2{width: 90%;display:flex;justify-content:center;margin:100px auto;}
.con2_1{width:40%;}
.con2_1 img{width: 73%;transform:translateX(40%);}
.con2_1 h2{color: #afafaf;font-size: 50px;font-family: 'TTWanjudaedunsancheB'}
.con2_1 p{color: #afafaf;font-size: 25px;margin:10px 0px;font-family: 'MICEGothic'}

.con2_2{width:50%;text-align: center;}
.con2_2 ul{display: flex;flex-wrap: wrap;justify-content:center;}
.con2_2 li{width:40%;margin: 15px;color: white;}

.con2_2 .box{background:#afafaf;padding:5px;}
.con2_2 .boxp{font-size: 20px;font-family: 'MICEGothic'}
.con2_2 .box2{width:100%;height:350px;background: url(../img/place_sapporo1.jpg)no-repeat center/cover;}
.con2_2 .box2_1{width:100%;height:350px;background: url(../img/place_sapporo2.jpg)no-repeat center/cover;}
.con2_2 .box2_2{width:100%;height:350px;background: url(../img/place_sapporo3.jpg)no-repeat center/cover;}
.con2_2 .box2_3{width:100%;height:350px;background: url(../img/place_sapporo4.jpg)no-repeat center/cover;}
.con2_2 .box2p{font-size:18px;padding:100px 25px;display: none;box-sizing: border-box;font-weight: bold;font-family: 'MICEGothic';line-height:25px;}


.con2_2 li div:last-child:hover{opacity: 0.8;}
.con2_2 li div:last-child:hover .box2p{display: block;}
.con2_2 li div:last-child:hover .black{background: black;height: 350px;}

.con3{width:80%;margin:100px auto;}
.con3 h2{color:#afafaf;margin:30px 0px;font-size:30px;font-family: 'TTWanjudaedunsancheB'}
.con3 ul{display:flex;justify-content:space-around;font-family: 'MICEGothic'}
.con3 li{width:calc(100% / 4 - 20px);}
.con3 li:hover{box-shadow:2px 2px 5px #999;}
.con3 a img{width:100%;height:180px;border-radius:10px;}
.con3 .ptext{padding: 10px;box-sizing: border-box;}
.con3 a p:nth-of-type(1){height:36px;margin:10px 0px;}
.con3 a p:nth-of-type(2){display:inline;padding:3px;background:lightcyan;color:blue;margin:7px 0px;font-size:13px;display:inline-block;}
.con3 a p:nth-of-type(3){margin:10px 0px;font-size:15px;}
.con3 a p:nth-of-type(3) span{color:lightblue;}
.con3 a p:nth-of-type(4){margin:10px 0px 5px;text-decoration:line-through;font-size:15px;color:gray;}
.con3 .none{opacity:0;}
.con3 h4{font-size:16px;}

.con4{width:100%; margin:100px auto;}
.con4_wrap{width:90%;margin:0px auto;}
.con4 h2{color:#afafaf;padding:0px 90px;font-size:50px;font-family: 'TTWanjudaedunsancheB';}
.con4 .weather{width:90%;display:flex;margin:50px auto; font-family: 'MICEGothic';}
.weather .left{width:650px;background:#afafaf;padding:10px;text-align:center;margin-right:50px;border-radius: 20px;}
.left img{width:70%;margin:30px auto;}
.left .text{background:white;padding:50px;border-radius: 20px;box-sizing: border-box;}
.text p:nth-of-type(1){text-align:center;font-size:55px;font-weight:bold;}
.blue{color:blue;}
.red{color:red;}
.text p:nth-of-type(2){text-align:center;font-weight:bold;font-size:20px;margin:8px 0px;}
.text p:nth-of-type(3){text-align:left;margin:50px 0px;font-size:25px;line-height: 35px;}
.text p:nth-of-type(4){text-align:left;margin:20px 0px;font-size:25px;line-height: 35px;}
.right .mascot{text-align:right;color:#afafaf;}
.right h3{font-size:45px;}
.right h4{font-size:35px;}
.right p{font-size:25px;}
.right img{width:100%;transform:translateX(-20%);}

.con5{width: 100%;background: url(../img/table.jpg)no-repeat center/cover;height:1083px;position: relative;}
.con5_1{width: 80%;margin: 0px auto;}
.con5 .ul1{display:flex;justify-content: space-between;}
.con5 h3{font-size: 80px;margin-top: 50px;color:#afafaf;font-family: 'TTWanjudaedunsancheB'}
.con5 .ul1_1{font-size:40px;color:#afafaf;font-family: 'TTWanjudaedunsancheB';line-height:50px;}
.ul1 .ul1_2{font-size: 45px;color:#afafaf;margin-top:50px;font-family: 'TTWanjudaedunsancheB'}
.con5 .ul2{width:100%;display:flex;justify-content: space-between;margin-top: 250px;}
.con5 .ul2 li:first-child{transform:translateX(-80%);}
.con5 .ul2 img{width:200%;}
.con5 .ul2 li:last-child{transform:translateX(-20%);}

.fo1{width:25%;position:absolute;left:50%;bottom:2%}
.fo1 img{width: 100%;border-radius:50%;height:100%;border: 5px solid gray;}
.fo1text{background: white;width:100%;padding: 20px;box-sizing: border-box;
border-radius: 10px;transform: translateY(-50px);visibility:hidden;font-family: 'MICEGothic';line-height:22px;}
.fo1text h4{margin: 5px 0px;color: gray;font-size: 25px;}
.fo1text p{margin: 10px 0px;font-weight: bold;}


.fo2{width:18%;position:absolute;left:23%;bottom:3%}
.fo2 img{width: 100%;border-radius:100%;height:100%;border: 5px solid gray;}

.fo3{width:15%;position:absolute;left:35%;top:20%}
.fo3 img{width: 100%;border-radius:50%;height:100%;border: 5px solid gray;}

.fo4{width:15%;position:absolute;left:55%;top:8%}
.fo4 img{width: 100%;border-radius:50%;height:100%;border: 5px solid gray;}

.fo1:hover .fo1text{visibility: visible;} 
.fo2:hover .fo1text{visibility: visible;} 
.fo3:hover .fo1text{visibility: visible;} 
.fo4:hover .fo1text{visibility: visible;} 

.con6{width: 80%;margin:100px auto;}
.con6 h2{margin:20px 0px;font-size: 50px;color:#afafaf;font-family: 'TTWanjudaedunsancheB'}
.con6 span{font-size: 35px;color:#afafaf;margin-left:10px;}
.con6 .wrap{display: flex;justify-content:space-between;}
.con6 .big{width:calc(100% /2 - 10px);}
.con6 .big img{width:100%;}

.con6{width: 80%;margin: 100px auto;}
.con6 h2{font-size: 50px;color:#afafaf;margin: 20px 0px;font-family: 'TTWanjudaedunsancheB'}
.con6 span{font-size: 35px;color:#afafaf;margin-left:10px;}
.con6 .wrap{display: flex;justify-content: space-between;font-family: 'MICEGothic'}
.con6 .big{width: calc(100% / 2 - 10px);position: relative;}
.con6 .big img{width:100%;}


.con6 .tag{width:100%;background: black;display: flex;justify-content: space-between;
padding: 10px;box-sizing: border-box;position: absolute;bottom:0%;visibility:hidden;}
.tag p{color: white;font-size: 20px;}
.con6 .tag1{position: absolute;bottom:50%;left:50%;transform:translate(-50%,50%);
    visibility:hidden;}
.tag1 p{color: white;font-size: 50px;text-align: center;}

.big img:hover{opacity: 0.7;}
.big:hover .tag{visibility: visible;}
.big:hover .tag1{visibility: visible;}


.con6 ul{display: flex;justify-content:space-between;flex-wrap:wrap;width:calc(100% / 2 - 5px);
}
.con6 li{width: calc(100% / 2 - 10px);margin-bottom: 10px;position: relative;}
.con6 li img{width: 100%;}
.con6 .margin{margin-bottom: 0px;}

.con6 .tag3{background: black;width: 100%;display: flex;justify-content: space-between;
position: absolute;bottom:0%; visibility:hidden;padding: 10px;box-sizing: border-box;}
.con6 .tag3 p{color: white;font-size: 15px;}

.con6 .tag4{position: absolute;bottom: 40%;left:50%;
transform: translate(-50%,-50%); visibility:hidden;}
.con6 .tag4 p{font-size: 25px;color: white;}


ul img:hover{opacity: 0.7;}
ul li:hover .tag3{visibility: visible;}
ul li:hover .tag4{visibility: visible;}

.con7{font-family: 'MICEGothic bold';width:80%;margin:0px auto;position: relative;margin-bottom: 10%;}
.con7 h2{
    font-size: 50px;
    color: #afafaf;
    margin: 20px 0px;
    font-family: 'MICEGothic bold';
}
.con7 h2 span{
    font-size: 35px;
}
.con7 img{
    display:block;
    width:70%;
    -webkit-mask-image: url("../img/asset.png");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: url("../img/asset.png");
    mask-repeat: no-repeat;
     mask-size: 100% 100%;
}
.con7 ul{display:flex;width:70%; padding:1%;transform: translate(-20%,-70%); }
.ticket_title{font-size: 2vw; transform: translate(-20%,-150%);width: 60%;font-family: 'MICEGothic bold'}
.con7 ul >  li{font-size:1vw;width: 40%;}
.con7 ul >  li input{
    text-align: center;
    background: #eee;
    margin: 8px 0;
    width: 100%;
    border: 0;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 7px 2px 10px #babebc, inset -5px -5px 12px #fff;}
.con7 ul >  li:nth-of-type(1) input{width:50%;padding:1%;font-size:1vw;}
.con7 ul >  li:nth-of-type(2) input{width:50%;padding:1%;font-size:1vw;}
.con7 .ticket_wrap{position:absolute;top:50%; left: 24%; height: 30vw;}
.con7 .ticket_wrap h2{position: absolute;top:-10%;left: 67%;color:gray;font-size: 8vw;}
#ticket_button{ 
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1vw;
    font-weight: bold;
    padding:1%;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;border: 0;font-size:1vw;}
.con8_left_text{
    display:none;
    font-size:1vw;
    position:absolute;
    top:30%;
    left: 75%;
    width:30%;
}


.con7:hover .con8_left_text{display:block;}


